.back {
  position: absolute;
  top: 20px;
  left: 55px;
}
.back::before {
  position: absolute;
  top: -4px;
  left: -40px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #377cbf;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/images/1.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 0px;
  font-size: 1.5vw;
  font-weight: 100;
}
.wrapper > div {
  width: 100%;
  height: 100%;
  background: #06448396;
  margin: 0px;
  padding: 20px;
}
.wrapper > div > div {
  max-width: 80%;
  margin: 0px auto;
}
.listWrapper {
  border: 5px solid #377cbf;
  max-width: 100%;
  min-height: 50%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}
.wrapper ul {
  height: 100%;
  margin: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.wrapper ul > li {
  text-align: left;
  margin: 4px 0px;
  flex: 1;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
}
